---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="intro-section">
      <h2>Introducción</h2>
      <p>
        La historia de la web abarca ya más de 30 años, en los que se han alternado períodos de intenso desarrollo con otros de estancamiento...
        <img src="https://intensadigital.com/storage/servicios/diseno-desarrollo-web/desarrollo-web.png" alt="Ejemplo de imagen" />
      </p>
    </section>

    <section class="tendencias-section">
      <h2>Tendencias del Mercado Laboral Global y Local</h2>
      <p>
        A continuación, Enunciaré los que para mí son las tendencias más importantes de la industria del desarrollo web...
		<img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="webassembly-section">
      <h2>WebAssembly</h2>
      <p>
        Es un formato de código binario que permite ejecutar programas en navegadores web...
		<img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="astro-section">
      <h2>Astro</h2>
      <p>
        Es un framework web moderno que facilita la creación de sitios web rápidos, atractivos y fáciles de mantener...
        <img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="ssr-section">
      <h2>Server-side Rendering</h2>
      <p>
        Server-side Rendering es una técnica donde el código se ejecuta en el servidor y se envía una página HTML al cliente...
		<img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="vr-section">
      <h2>Páginas VR</h2>
      <p>
        Es la tendencia al desarrollo de páginas web que puedan visualizarse en Gafas de realidad virtual...
		<img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="chatbots-section">
      <h2>Chatbots con inteligencia artificial</h2>
      <p>
        La interacción con los usuarios está cambiando con los chatbots de IA...
		<img src="/path/to/another/image.jpg" alt="Otra imagen de ejemplo" />
      </p>
    </section>

  </main>
</Layout>

<style>
  /* Estilos para las secciones */
  section {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  /* Estilos para cada sección */
  .intro-section {
    background-color: #3498db;
    margin-top: 0; /* Eliminamos el margen superior */
  }

  .tendencias-section {
    background-color: #e74c3c;
  }

  .webassembly-section {
    background-color: #2ecc71;
  }

  .astro-section {
    background-color: #9b59b6;
  }

  .ssr-section {
    background-color: #f39c12;
  }

  .vr-section {
    background-color: #1abc9c;
  }

  .chatbots-section {
    background-color: #d35400;
  }
</style>
