---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Exposición Seminario 2023-2">
  <main>
    <section class="intro-section">
      <h2>Introducción</h2>
      <p>
        La historia de la web abarca ya más de 30 años, en los que se han
        alternado períodos de intenso desarrollo con otros de estancamiento.
        Partiendo del primer servidor de páginas web de la historia que se puso
        en marcha en diciembre de 1990 en el CERN (Ginebra, Suiza). El inventor
        de la web, el informático inglés Tim Berners-Lee, pretendía crear un
        sistema que permitiera a los investigadores del CERN compartir
        fácilmente la información, haciendo que con el pasar de los años, este
        ámbito haya crecido al punto de formar parte de nuestro día a día y siga
        evolucionando a pasos agigantados.
        <img
          src="https://intensadigital.com/storage/servicios/diseno-desarrollo-web/desarrollo-web.png"
          alt="Ejemplo de imagen"
        />
      </p>
    </section>

    <section class="alcance-section">
      <h2>Alcance y propósito.</h2>
      <p>
        El desarrollo web se refiere al proceso de crear y mantener sitios web y
        aplicaciones web en Internet. Su alcance y propósito son bastante
        amplios, ya que abarca desde simples sitios web estáticos hasta
        aplicaciones web complejas y dinámicas.
        <br />
        <h4>Alcance:</h4>
        <ul style="text-align: left;">
          <li>Sitios web estáticos</li>
          <li>Sitios web dinámicos</li>
          <li>Aplicaciones web</li>
          <li>Portales y plataformas</li>
          <li>Comercio electrónico</li>
          <li>Aplicaciones móviles y web progresivas</li>
        </ul>

        <h4>Propósito:</h4>
        <ul style="text-align: left;">
          <li>
            Rendimiento: Astro está diseñado para ser muy rápido, gracias a su
            uso de React y la caché del lado del servidor.
          </li>
          <li>
            Atractividad: Astro viene con una amplia gama de componentes y
            estilos que se pueden usar para crear sitios web atractivos.
          </li>
          <li>
            Mantenimiento: Astro es muy fácil de mantener, gracias a su uso de
            componentes y su enfoque en la separación de la presentación del
            contenido.
          </li>
        </ul>
      </p>
    </section>

    <section class="tendencias-section">
      <h2>Tendencias del Mercado Laboral Global y Local</h2>
      <p>
        A continuación, Enunciaré los que para mí son las tendencias más
        importantes de la industria del desarrollo web
      </p>
    </section>

    <section class="webassembly-section">
      <h2>WebAssembly</h2>
      <p>
        Es un formato de código binario que permite ejecutar programas en
        navegadores web. Esto significa que podemos ejecutar código no
        JavaScript en el lado del cliente. Por ejemplo, en lugar de usar
        JavaScript para un juego web, podemos compilar el código en WASM, lo que
        lo hace más rápido y eficiente.
        <img
          src="https://storage.googleapis.com/blog-images-backup/1*4ZMcCrF95AUvVzJ4S6Lo-g.png"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="astro-section">
      <h2>Astro</h2>
      <p>
        Es un framework web moderno que facilita la creación de sitios web
        rápidos, atractivos y fáciles de mantener. Está construido sobre la base
        de React y está diseñado para ser altamente escalable y personalizable.
        <br />
        <h4>Algunas de las ventajas de usar Astro incluyen:</h4>
        <ul style="text-align: left;">
          <li>
            Rendimiento: Astro está diseñado para ser muy rápido, gracias a su
            uso de React y la caché del lado del servidor.
          </li>
          <li>
            Atractividad: Astro viene con una amplia gama de componentes y
            estilos que se pueden usar para crear sitios web atractivos.
          </li>
          <li>
            Mantenimiento: Astro es muy fácil de mantener, gracias a su uso de
            componentes y su enfoque en la separación de la presentación del
            contenido.
          </li>
        </ul>
        <img
          src="https://deegloo.com/wp-content/uploads/2022/11/blogblog-cover.png"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="ssr-section">
      <h2>Server-side Rendering</h2>
      <p>
        Server-side Rendering es una técnica donde el código se ejecuta en el
        servidor y se envía una página HTML al cliente
        <img
          src="https://www.infidigit.com/wp-content/uploads/2020/08/Picture1.jpg"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="vr-section">
      <h2>Páginas VR</h2>
      <p>
        Es la tendencia al desarrollo de páginas web que puedan visualizarse en
        Gafas de realidad virtual
        <img
          src="https://www.vrprojects.es/images/end-vr.jpg"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="chatbots-section">
      <h2>Chatbots con inteligencia artificial</h2>
      <p>
        La interacción con los usuarios está cambiando con los chatbots de IA
        <img
          src="https://centribal.com/wp-content/uploads/2022/01/ES-Portadas-Blog-diciembre21.png"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <!-- Nuevas secciones -->

    <section class="cursos-section">
      <h2>Cursos que apoyan el desarrollo web</h2>
      <p>
        El desarrollo web se fundamenta principalmente en la creación, diseño y
        mantenimiento de sitios y aplicaciones web
      </p>
    </section>

    <section class="fundamentos-section">
      <h2>Fundamentos de programación</h2>
      <p>
        Crucial para comprender los conceptos básicos de la programación,
        facilitando la adaptación a la creación de código en diversos lenguajes
        utilizados en el desarrollo web
      </p>
    </section>

    <section class="principios-section">
      <h2>Principios de desarrollo de software</h2>
      <p>
        Ofrece prácticas y metodologías aplicables al desarrollo web, abordando
        desde el análisis hasta el mantenimiento del software
      </p>
    </section>

    <section class="lenguajes-section">
      <h2>Lenguajes de programación</h2>
      <p>
        Complementa los fundamentos de programación y abarca lenguajes
        específicos como HTML, CSS, JavaScript, PHP, Python, entre otros,
        necesarios en el desarrollo web
        <img
          src="https://www.codigoonclick.com/wp-content/uploads/2018/02/mejores-lenguajes-de-programacion-2018.jpg"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="estructura-section">
      <h2>Estructura de datos y algoritmos</h2>
      <p>
        Los conceptos de esta materia van a ser útiles para escribir código de
        una manera eficiente y optimizada
        <img
          src="https://img-c.udemycdn.com/course/750x422/3654148_572b.jpg"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="bases-section">
      <h2>Bases de datos</h2>
      <p>
        Aborda el manejo y funcionamiento de bases de datos, esenciales para la
        mayoría de los sitios web
        <img
          src="https://img.freepik.com/vector-premium/conjunto-iconos-base-datos-estilo-dibujos-animados_96318-4093.jpg?w=2000"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="seminario-section">
      <h2>Seminario de ingeniería de sistemas</h2>
      <p>
        Esta materia es importante para cualquier línea de trabajo de la
        ingeniería en sistemas, ya que nos ayudará a comprender realmente en qué
        se enfocará nuestra especialización y el tipo de trabajo vamos a
        realizar en un futuro
        <img
          src="https://c8.alamy.com/compes/2n0fc59/gestion-de-proyectos-e-ideas-estadisticas-de-desarrollo-de-mercado-ilustracion-vectorial-de-conjunto-de-servicios-en-la-nube-personas-pequenas-de-dibujos-animados-con-procesos-de-negocio-de-investigacion-de-lupa-informe-de-panel-financiero-2n0fc59.jpg"
          alt=""
          srcset=""
        />
      </p>
    </section>

    <section class="p_integrador-section">
      <h2>Proyecto integrador</h2>
      <p>
        Es una valiosa oportunidad para aquellos interesados, ya que les permite
        obtener experiencia práctica en el campo, lo que resulta altamente
        beneficioso para su desempeño profesional en el futuro.
      </p>
    </section>

    <section class="E_general-section">
      <h2>Estadística general</h2>
      <p>
        La estadística es útil para el desarrollo web en el sentido de buscar
        mejorar la experiencia del usuario, es algo que nos va a ayudar a
        entender todos los datos sobre los usuarios y a tomar decisiones
        adecuadas conforme a estos, algo que puede ser bastante útil a la hora
        de desarrollar una página web, en donde la experiencia del usuario es
        una de las partes más fundamentales de su funcionamiento
        <br />
        <h3>
          Es importante resaltar que estas solo son las materias del pensum de
          ingeniería de sistemas en EAFIT que son de mayor utilidad para el
          desarrollo web, pero también existen otro tipo de cursos alternos que
          nos proveen con conocimientos fundamentales para esta línea de trabajo
        </h3>
        <img
          src="https://img.freepik.com/vector-gratis/auditoria-empresarial-personaje-dibujos-animados-especialista-financiero-lupa-examen-informacion-grafica-estadistica-estadisticas-diagrama-grafico-ilustracion-metafora-concepto-aislado-vector_335657-2794.jpg?w=2000"
          alt="Otra imagen de ejemplo"
        />
      </p>
    </section>

    <section class="summary-section">
      <h2>Conclusión</h2>
      <p>
        Consideramos que el desarrollo web es esencial en la actualidad para
        establecer una sólida presencia en línea. Apreciamos su versatilidad y
        el uso de tecnologías como HTML5, CSS3 y JavaScript para crear sitios
        interactivos y visualmente atractivos. Valoramos la accesibilidad web y
        la responsabilidad de llegar a diversas audiencias. Aunque las
        cambiantes tendencias pueden ser desafiantes, nos entusiasma aprender y
        colaborar con otros profesionales para mantenernos actualizados. En
        resumen, vemos el desarrollo web como una manera de empoderar a las
        personas y negocios en el mundo digital, esforzándonos por crear
        experiencias web excepcionales y de alta calidad.
        <img src="src/images/summary.png" alt="Otra imagen de ejemplo" />
      </p>
    </section>

    <section class="webgrafia-section">
      <h2>Webgrafía</h2>
      <p>
        Server side rendering, NEXT.Js
        <img
          src="https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Screenshots_2022/Imagen-explicativa-del-server-side-rendering.png"
          alt="Otra imagen de ejemplo"
        />
      </p>
      <br />
      <p>
        Astro
        <img
          src="https://deegloo.com/wp-content/uploads/2022/11/blogblog-cover-1024x614.png"
          alt="Otra imagen de ejemplo"
        />
      </p>
      <br />
      <p>
        Historia del desarrollo web, Mclibre.org
        <img src="src/images/history.png" alt="Otra imagen de ejemplo" />
      </p>
      <br />
      <p>
        Plan de estudios pregrado en Ingeniería de Sistemas, eafit.edu.co
        <img src="src/images/pensum.jpeg" alt="Otra imagen de ejemplo" />
      </p>
    </section>
  </main>
</Layout>

<style>
  /* Estilos para las secciones */
  section {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    margin-left: 0;
  }

  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    width: 500px;
    height: auto;
    border: solid white 1px;
    border-radius: 14px;
    margin: 1rem;
  }

  /* Estilos para cada sección */
  .intro-section {
    background-color: #3498db;
    margin-top: 0; /* Eliminamos el margen superior */
  }
  .alcance-section {
    height: auto;
    background-color: #9b59b6;
  }

  .tendencias-section {
    height: auto;
    background-color: #e74c3c;
  }

  .webassembly-section {
    height: auto;
    background-color: #2ecc71;
  }

  .astro-section {
    height: auto;
    background-color: #9b59b6;
  }

  .ssr-section {
    height: auto;
    background-color: #f39c12;
  }

  .vr-section {
    height: auto;
    background-color: #1abc9c;
  }

  .chatbots-section {
    height: auto;
    background-color: #d35400;
  }

  .cursos-section {
    height: auto;
    background-color: #3498db;
  }

  .fundamentos-section {
    height: auto;
    background-color: #e74c3c;
  }

  .principios-section {
    height: auto;
    background-color: #2ecc71;
  }

  .lenguajes-section {
    height: auto;
    background-color: #9b59b6;
  }

  .estructura-section {
    background-color: #f39c12;
  }

  .bases-section {
    height: auto;
    background-color: #1abc9c;
  }

  .seminario-section {
    height: auto;
    background-color: #d35400;
  }

  .p_integrador-section {
    height: auto;
    background-color: #1abc9c;
  }
  .E_general-section {
    height: auto;
    background-color: #9b59b6;
  }
  .summary-section {
    height: auto;
    background-color: #d35400;
  }
  .webgrafia-section {
    display: flex;
    align-items: center;
    background-color: #238dde;
    height: auto;
  }

  .webgrafia-section img {
    width: 500px;
    height: auto;
    margin-left: 14px;
    border: solid white 1px;
    border-radius: 14px;
  }
</style>
